@model UserToRegisterVM

<div class="container">
    <main role="main" class="pb-3">
        <div class="auth-panel">
            <div class="auth-panel-inner">
                <div style="position:relative; height: 80px; width:auto">
                    <h2 class=" text-center fw-bolder">Register</h2>
                    <div style="position:absolute; right: 2px; top:auto">
                        <p class=" " style=" background-color: red;display:flex; flex-direction: row;">
                            <i class="bi bi-arrow-left-circle text-white"></i>
                            <a asp-controller="Home" asp-action="Index" style="cursor:pointer; position:absolute; text-decoration:none;background:grey ;padding: 2px 4px; border-radius:5px; color: white;right: 2px; top:auto " class="fw-bolder">Home</a>
                       </p>
                    </div>
                </div>
                <div asp-validation-summary="All"></div>
                <form method="post" asp-action="Register" asp-controller="Account">
                    <p class=""><input asp-for="FirstName" placeholder="First Name" /></p>
                    <p><input asp-for="LastName" placeholder="Last Name" /></p>
                    <p><input asp-for="Email" placeholder="Email" /></p>
                    <p><input asp-for="UserName" placeholder="Username" /></p>
                    <p><input asp-for="PhoneNumber" placeholder="Phone Number" /></p>
                    <p><input asp-for="Password" placeholder="Password" /></p>
                    <p><input asp-for="ConfirmPassword" placeholder="Confirm Password" /></p>
                    <button class="btn btn-primary text-center w-100 fw-bold" type="submit">Submit</button>
                </form>
                <p class="text-center">Already have an account? <span><a class="fw-bold" asp-action="Login" asp-controller="Account">Login Here</a></span></p>
            </div>
        </div>
    </main>
</div>
